<div class="container my-4">
  <h4 class="text-primary text-center my-4">Panier</h4>
  @if(logged != ''){
  <div class="container text-end">
    <button type="button" class="btn" (click)="chargerPanier()">
      <i class="fa-solid fa-cloud-arrow-down text-warning fa-2xl"></i>
    </button>
  </div>
  }
  <table class="table table-striped text-secondary">
    <thead>
      <th>Jeu</th>
      <th>Quantité</th>
      <th>Prix unitaire</th>
      <th>Prix total</th>
      <th></th>
    </thead>
    <tbody>
      @for (item of lignes(); track $index) {
      <tr>
        <td>{{ item.jeu.nom_jeu }}</td>
        <td>
          <span>
            @if(!addDisable(item)){
            <button class="btn" (click)="ajoutPanier(item)">
              <i class="fa-solid fa-plus text-primary"></i></button
            >} @if(addDisable(item)){
            <span class="badge text-bg-danger">quantité max</span>
            }
            {{ item.quantite }}
            <button class="btn" (click)="retraitPanier(item.jeu.id_jeu!)">
              <i class="fa-solid fa-minus text-danger"></i></button
          ></span>
        </td>
        <td>{{ item.jeu.prix | currency : '' : '€' }}</td>
        <td>{{ item.jeu.prix * item.quantite | currency : '' : '€' }}</td>
        <td>
          <button type="button" class="btn" (click)="retirerDuPanier(item.jeu.id_jeu!)">
            <i class="fa-solid fa-x"></i>
          </button>
        </td>
      </tr>
      } @empty {
      <p>Votre panier est vide.</p>
      }
    </tbody>
    @if(totalPanier()){
    <tfoot>
      <td colspan="2"></td>
      <td>Total :</td>
      <td>{{ totalPanier() | currency : '' : '€' }}</td>
    </tfoot>
    }
  </table>
  @if(logged != ''){
  <div class="container text-end">
    <button type="button" class="btn" (click)="sauvegardePanier()">
      <i class="fa-solid fa-cloud-arrow-up text-warning fa-2xl"></i>
    </button>
  </div>
  }
</div>
