<div class="game-card shadow-sm rounded h-100 p-3 position-relative">
  <div class="position-relative">
    <img
      (click)="goToJeu(jeu().id_jeu!)"
      class="img-fluid rounded mb-3 w-100"
      src="'images/{{ jeu().image }}"
      alt="{{ jeu().nom_jeu }}"
    />

    <button class="favori-btn btn btn-light rounded-circle shadow" (click)="ajoutFavori()">
      @if (estFavori(jeu().id_jeu!)) {
      <i class="fa-solid fa-heart text-danger"></i>
      } @else {
      <i class="fa-regular fa-heart"></i>
      }
    </button>
  </div>

  <h5 class="fw-bold">{{ jeu().nom_jeu }}</h5>

  <p class="text-muted">
    {{ jeu().description_jeu || 'Un classique indémodable.' }}
  </p>

  @if (quantiteCommandee == 0 ) {
  <button
    class="btn btn-info position-absolute"
    style="bottom: 12px; right: 12px"
    (click)="ajoutPanier()"
  >
    <i class="fas fa-shopping-cart"></i>
  </button>

  }@else {
  <button
    class="btn btn-info position-absolute"
    style="bottom: 12px; right: 12px"
    (click)="ajoutPanier()"
  >
    <i class="fas fa-shopping-cart"></i>
  </button>
    {{ quantiteCommandee }}
    <button class="btn btn-info position-absolute text-end" (click)="retraitPanier(jeu().id_jeu!)">
      <i class="fa-solid fa-minus text-danger"></i>
    </button>
  </div>
  }
</div>
