.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.cart-btn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: var(--bs-info);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: 0.2s ease;
  cursor: pointer;
}

.cart-btn {
  bottom: 15px;
  right: 15px;
}

.cart-btn:hover {
  filter: brightness(1.1);
}

.cart-quantite-box {
  display: flex;
  align-items: center;
  background: white;
  padding: 8px 10px;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.quantite-btn {
  width: 28px;
  height: 28px;
  font-size: 0.8rem;
  color: lightgray;
  border-radius: 50%;
  background: #f7f7f7ff;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.quantite-btn:hover {
  color: black;
  background: #ebebebff;
}

.quantite-value {
  font-size: 1rem;
  margin: 0 8px;
  min-width: 20px;
  text-align: center;
}
