<div class="card" style="width: 18rem; display: inline-block; margin: 10px">
  <div class="card-body">
    <div class="row">
      <div class="col-10">
        <h5 class="card-title">
          {{ jeu().nom_jeu }}
        </h5>
      </div>
      <div class="col-2">
        @if(isConnected) {
        <a (click)="ajoutFavori(jeu())">
          <i class="fa-regular fa-star"></i>
        </a>
        }
      </div>
    </div>
    <h6 class="card-subtitle mb-2 text-muted text-start">
      {{ jeu().editeurDto!.nom_editeur }}
    </h6>
    <p class="card-text padding text-start">
      {{ jeu().description_jeu }}
    </p>
    <span>
      @if (quantiteCommandee == 0 ) {
      <div class="container text-end">
        <button class="btn offset-3" (click)="ajoutPanier()">
          <i class="fa-solid fa-cart-plus text-primary"></i>
        </button>
      </div>
      }@else {
      <div class="container text-end">
        <button class="btn offset-3" (click)="ajoutPanier()">
          <i class="fa-solid fa-plus text-primary"></i>
        </button>
        {{ quantiteCommandee }}
        <button
          class="btn text-end"
          (click)="retraitPanier(jeu().id_jeu!)"
        >
          <i class="fa-solid fa-minus text-danger"></i>
        </button>
      </div>
      }
    </span>
  </div>
</div>
