<div class="container-fluid col-10">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link text-dark" routerLink="">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" routerLink="/catalogue">Catalogue</a>
    </li>
    @if (isConnected) {
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle text-dark"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Mon espace
      </a>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" routerLink="/panier"
            ><i class="fas fa-shopping-cart"></i> Panier</a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="/favoris">
            <i class="fa-solid fa-heart"></i> Favoris</a
          >
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li>
          <a class="dropdown-item" routerLink="/profil"
            ><i class="fas fa-user-circle"></i> Mon profil</a
          >
        </li>
        <li>
          <button
            type="button"
            class="dropdown-item"
            style="color: lightcoral"
            [hidden]="!isConnected"
            (click)="logout()"
          >
            <i class="fas fa-sign-out-alt"></i> Logout
          </button>
        </li>
      </ul>
    </li>

    }
    <!-- <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li> -->
    <button
      type="button"
      class="btn"
      style="color: lightskyblue"
      [hidden]="isConnected"
      (click)="login()"
    >
      <i class="fas fa-sign-in-alt"></i> Login
    </button>
  </ul>
</div>
