<div class="container mt-4">
  <div class="container col-4 text-end">
    <form class="searchbar d-flex align-items-center">
      <input
        type="search"
        class="form-control search-input"
        name="recherche"
        placeholder="Rechercher un jeu, un éditeur, une catégorie..."
      />

      <button class="btn btn-info search-btn ms-2" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>
</div>
@if(connectedUser && connectedUser.admin){
<div class="container text-end">
  <button type="button" class="btn" (click)="goToAjouterJeu()">
    <i class="fa-solid fa-puzzle-piece text-secondary fa-2xl"></i>
  </button>
</div>
}
<div class="container">
  <div class="row g-4 justify-content-center">
    @for (jeu of listeJeux(); track $index) {
    <div class="col-md-4">
      <app-jeu-card [jeu]="jeu" />
    </div>
    }
  </div>
</div>
