<div class="container mt-4">
  <div class="container col-4 text-end">
    <app-searchbar [jeux]="listeJeux()" (selectedJeu)="goToJeu($event)"></app-searchbar>
  </div>
</div>
@if(connectedUser && connectedUser.admin){
<div class="container text-end">
  <button type="button" class="btn" (click)="goToAjouterJeu()">
    <i class="fa-solid fa-puzzle-piece text-secondary fa-2xl"></i>
  </button>
</div>
}
<div class="container">
  <div class="row g-4 justify-content-center">
    @for (jeu of listeJeux(); track $index) {
    <div class="col-md-4">
      <app-jeu-card [jeu]="jeu" />
    </div>
    }
  </div>
</div>
